<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Starter</title>

    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="{{ base_path() }}/public/includes/css/libs/bootstrap.css">
    <link rel="stylesheet" href="{{ base_path() }}/public/includes/css/styles.css">
    {% block styles %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <script src="{{ base_path() }}/public/includes/js/libs/bootstrap.bundle.js"></script>
    <script src="{{ base_path() }}/public/includes/js/util.js" type="module"></script>
    {% block scripts %}{% endblock %}
</body>
</html>